.mobile-sort {
  &__item {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    &__input {
      width: 1.2rem;
      display: flex;
      align-items: center;
      accent-color: var(--data-color-black);
    }

    &__label {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      font-size: .9rem;
      padding: .6rem 0;
      border-bottom: 1px solid #e8e8e8;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
