.mobile-filter {
  .ant-drawer-wrapper-body {
    display: flex;
    flex-flow: column;
    align-items: stretch;
  }

  .ant-drawer-body {
    overflow-y: scroll;
  }

  &__submit {
    padding: .7rem 1rem;
    background-color: var(--data-color-black);
    color: var(--data-color-white);
    width: 100%;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  &__item {
    display: grid;
    grid-template-columns: auto 2rem;
    column-gap: 1rem;
    margin-bottom: .6rem;
    padding-bottom: .6rem;
    border-bottom: 1px solid #e8e8e8;

    &__label {
      display: flex;
      align-items: center;
      font-size: .9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__action {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      accent-color: var(--data-color-black);
    }

    &__checkbox {
      pointer-events: none;
      input {
        width: 1rem;
        height: 1rem;
        margin-right: 4px;
      }
    }

  }

  &__range {
    margin-bottom: .6rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e8e8e8;

    &__label {
      font-size: .9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__inputs {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
      margin-top: .8rem;

      input {
        width: 100%;
        outline: none;
        background-color: #fff;
        background-clip: padding-box;
        padding-right: .5rem;
        padding-left: .5rem;
        border: 1px solid var(--data-color-black);
        border-radius: 0.15rem;

        *, *::before, *::after {
          box-sizing: border-box;
        }
      }
    }
  }
}
