.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 55px;
  background: var(--data-color-white);
  border-bottom: 1px solid #e8e8e8;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  &__slot {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & > div {
    display: flex;
    align-items: center;
  }

  &__logo {
    user-select: none;
    height: 2rem;
    object-fit: contain;
  }

  &__slot-left {
    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__menu,
  &__search,
  &__cart,
  &__tracker {
    font-size: 2.2rem;
    font-weight: 300;
    cursor: pointer;
    color: var(--data-color-black);

    &-active {
      color: var(--data-color-hover)
    }
  }
}
