@import '/assets/styles/variables.scss';

body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $BLACK;
  font-family: $main-font;
  background-color: $WHITE;
  text-transform: uppercase;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.link-li {
  font-size: 1.25rem;
  list-style: none;
  user-select: none;
  width: fit-content;
}

.link {
  text-decoration: none;
  color: $BLACK;
  &:hover {
    color: $BLACK;
  }

  &-inactive {
    @extend .link;
    color: $DGRAY;
    &:hover {
      cursor: pointer;
      color: $BLACK;
    }
  }

  &-disabled {
    @extend .link;
    color: $DGRAY;
  }
}

.content-width {
  width: 100%;
  max-width: 75rem;
  height: 100%;
  padding: 4rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint(l) {
    width: 90%;
    padding: 1.25rem 0 1rem;
  }
}

.wrapper-for-slider-buttons {
  max-width: 80rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23rem;
  height: 4rem;
  white-space: nowrap;
  overflow: hidden;
  color: $WHITE;
  background-color: $BLACK;
  font-size: 1.25rem;
  line-height: 2rem;
  cursor: pointer;
  border: $main-border;
  transition: 0.3s;
  user-select: none;

  @include breakpoint(xs) {
    width: 15rem;
    font-size: 1rem;
    height: 3rem;
  }

  &:hover {
    color: $BLACK;
    background-color: $WHITE;
  }

  &-inversed {
    @extend .button;
    color: $BLACK;
    background-color: $WHITE;

    &:hover {
      color: $WHITE;
      background-color: $BLACK;
    }
  }
}

.arrow {

  &__back{
    transition: 0.3s;
    fill: rgba(255, 255, 255, 0);
  }

  &:hover {
    cursor: pointer;

    .arrow__back {
      fill: $LGRAY;
    }
  }

  &-inactive {
    .arrow__back {
      display: none;
    }
  }
}

.card {
  display: grid;
  grid-template-areas:
                  'i i'
                  'n n'
                  'v p';
  cursor: pointer;

  &__image {
    grid-area: i;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $main-border;
  }

  &__name {
    width: 100%;
    padding: 0.5rem 0;
    font-weight: 500;
    grid-area: n;
    border-bottom: $main-border;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__volume {
    padding: 0.5rem 0;
    grid-area: v;
  }

  &__price {
    padding: 0.5rem 0;
    grid-area: p;
    text-align: right;
  }
}

.breadcrumbs {
  margin-top: 2.5rem;
  font-size: 1rem;

  &-separator {
    margin: 0 8px;
    color: rgba(0, 0, 0, 0.45);
  }

  @include breakpoint(l) {
    display: none;
  }
}

.input-field {
    width: 100%;
    height: 3.75rem;
    padding: 0 1rem;

    &::placeholder {
      color: $DGRAY;
    }
}

.mobile-separator {

  @include breakpoint(l) {
    height: 1px;
    width: 100%;
    border-bottom: $main-border;
  }
}


.page-enter-active, .page-leave-active {
  transition: opacity 0.5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
