@import '/assets/styles/variables.scss';

body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0B0B0B;
  font-family: $main-font;
}

.nav-link {
  font-size: 20px;
  list-style: none;
  cursor: pointer;
  user-select: none;
  width: fit-content;
}

.content-width {
  width: 75rem;
}

