@import '/assets/styles/variables.scss';

body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $BLACK;
  font-family: $main-font;
  background-color: $WHITE;
}

.link-li {
  font-size: 20px;
  list-style: none;
  user-select: none;
  width: fit-content;
}

.nav-link {
  text-decoration: none;
  color: $BLACK;
  &:hover {
    color: $BLACK;
  }
}

.content-width {
  width: 75rem;
}

