// Fonts
$main-font: 'Golos';

// Colors
$WHITE: #FEFEFE;
$LGRAY: #F8F8F8;
$DGRAY: #C7C7C7;
$BLACK: #0B0B0B;
$border-black: rgba(0, 0, 0, 0.5);

$main-border: solid 0.5px $border-black;

$breakpoints: (
  xxxl: 2000px,
  xxl: 1600px,
  xl: 1440px,
  l: 960px, // mobile
  m: 768px,
  s: 576px,
  xs: 480px, // would be nice for next breakpoint
  xxs: 320px,
);

@mixin breakpoint($screen-size) {
  @if map-has-key($breakpoints, $screen-size) {
    @media (max-width: map-get($breakpoints, $screen-size)) {
      @content;
    }
  }
}

@font-face {
  font-family: 'Golos';
  src: url('~/assets/fonts/golos-text_regular.ttf');
  font-style: normal;
  font-weight: normal;
}
