$main-font: 'Golos';

$breakpoints: (
  xxxl: 2000px,
  xxl: 1600px,
  xl: 1440px,
  l: 992px,
  m: 768px,
  s: 576px,
  xs: 480px,
);

@mixin breakpoint($screen-size) {
  @if map-has-key($breakpoints, $screen-size) {
    @media (max-width: map-get($breakpoints, $screen-size)) {
      @content;
    }
  }
}

@font-face {
  font-family: 'Golos';
  src: url('~/assets/fonts/golos-text_regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
