// Fonts
$main-font: 'Golos';

// Colors
$WHITE: #FEFEFE;
$LGRAY: #F8F8F8;
$DGRAY: #C7C7C7;
$BLACK: #0B0B0B;
$HOVER: #918883;
$border-black: rgba(0, 0, 0, 0.5);

$main-border: solid 1px $border-black;

:root{
  --data-color-hover: #{$HOVER};
  --data-color-black: #{$BLACK};
  --data-color-dgray: #{#DGRAY};
  --data-color-lgray: #{#DGRAY};
  --data-color-white: #{#DGRAY};
  --data-color-border-black: #{$border-black};
}

$breakpoints: (
  xxxl: 1920px,
  xxl: 1440px,
  xl: 1200px,
  l: 960px, // mobile
  m: 768px,
  s: 576px,
  xs: 480px, // would be nice for next breakpoint
  xxs: 320px,
);

@mixin breakpoint($screen-size) {
  @if map-has-key($breakpoints, $screen-size) {
    @media (max-width: map-get($breakpoints, $screen-size)) {
      @content;
    }
  }
}

@mixin breakpoint-min($screen-size) {
  @if map-has-key($breakpoints, $screen-size) {
    @media (min-width: calc(map-get($breakpoints, $screen-size) + 1px)) {
      @content;
    }
  }
}

@font-face {
  font-family: 'Golos';
  src: url('~/assets/fonts/golos-text_regular.ttf');
  font-style: normal;
  font-weight: normal;
}
